.Container_introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 92px;
  height: 100%;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 632px;
    margin-right: 26px;

    h1 {
      font-size: 5rem;
      color: var(--color-text);
      width: 546px;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.9rem;
      margin: 12px 0px;
      color: #f5f5f5;
    }
  }

  figure {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      height: 532px;
      cursor: pointer;
      transition: 0.2s height;

      &:hover {
        height: 578px;
      }

      @media screen and (max-width: 1440px) {
        height: 332px;
      }
    }
  }
}
