$colorText: #f5f5f5;

@mixin button-base($radius, $bgColor) {
  background-color: $bgColor;
  width: 156px;
  height: 48px;
  color: $colorText;
  border-radius: $radius;
  font-weight: 600;
  font-size: 0.95rem;

  &:hover {
    cursor: pointer;
  }
}

.button_Sass {
  @include button-base(20px, var(--primary-color));
}
